.input-field{
    display: block;
    margin: 10px;
    height: 30px;
    width: 300px;
}

.btn {
    background-color: skyblue;
    color: white;
    border: 0;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-user{
    margin-top: 100px;
    text-align: -webkit-center;
}

.user-item span{
   display: inline-block;
   width: 100 px;
}